<div class="container-fluid">
  <app-header [buttons]="false" ></app-header>

  <div class="col-6 offset-3">
    <div class="row justify-content-center">

      <div class="col-12 d-flex justify-content-center mt-5">
        <h2>Login</h2>
      </div>
      <div class="col-8">
        <form [formGroup]="formLogin" (ngSubmit) = "login()">
          <div class="form-group">
            <p>E-mail:</p>
            <input type="text" class="form-control" formControlName="email">
            <br>
            <p>Password:</p>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <button type="submit" [disabled] = "!formLogin.valid" class="btn btn-warning" >LOGIN</button>
        </form>

      </div>

    </div>
  </div>

</div>
<div class="row justify-content-center">
</div>



