<div [class]="'container-fluid header m-0 p-0 '+selectTheme()">
  <div class="row p-2 ">
    <div class="col-10 offset-1 desktop">
      <div class="row justify-content-around align-items-center">
        <div class="col-6 list-inline ">
          <span class="list-inline-item post-title" [routerLink]="['']" >Postmates</span>
          <app-search-bar class="list-inline-item"  [placeholder]="'Search for anything...'" ></app-search-bar>

        </div>
        <div class="col-6">
          <ul class="list-inline mt-2">
            <li class="list-inline-item pr-2 pl-2 border-bottom border-dark post-f-xsmall"> FOOD </li>
            <li class="list-inline-item pr-2 pl-2 post-f-xsmall">FRESH</li>
            <li class="list-inline-item pr-2 pl-2 post-f-xsmall">DRINKS</li>
            <li class="list-inline-item pr-2 pl-2 post-f-xsmall">CONVENIENCE</li>
            <li class="list-inline-item pr-2 pl-2 post-f-xsmall">
              <button class="btn container-rounded">
                <b class="post-f-xsmall">SIGN IN</b>
              </button>
            </li>
            <li class="list-inline-item">
              <button [class]="'btn container-rounded post-black-button '+selectButtonColor()">
               <b class="post-f-xsmall">SIGN UP</b>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
