<div [class]="'container-fluid header m-0 p-0 '+selectTheme()">
  <div class="row p-2 ">
    <div class="col-10 offset-1 desktop">
      <div class="row justify-content-between">
        <div class="col-auto d-inline-flex align-items-center">
          <span class="post-title" [routerLink]="['']" >Postmates</span>
          <app-search-bar class="display-header"  [placeholder]="'Search for anything...'" ></app-search-bar>

        </div>
        <div class="col-auto">
          <ul class="list-inline mt-2">
            <li class="list-inline-item pr-2 pl-2 border-bottom border-dark post-f-xsmall post-list-item"> FOOD </li>
            <li class="list-inline-item pr-2 pl-2 post-f-xsmall post-list-item">FRESH</li>
            <li class="list-inline-item pr-2 pl-2 post-f-xsmall post-list-item">DRINKS</li>
            <li class="list-inline-item pr-2 pl-2 post-f-xsmall post-list-item" [routerLink]="['/cart']" >CART</li>

            <li class="list-inline-item pr-2" *ngIf="!this.auth.isLoggedIn()" >
              <button class="btn container-rounded post-yellow-button" *ngIf="buttons"[routerLink]="['/login']" >
                <b class="post-f-xsmall">SIGN IN</b>
              </button>
            </li>
            <li class="list-inline-item pl-2" [routerLink]="['/register']" *ngIf="!this.auth.isLoggedIn()"  >
              <button [class]="'btn container-rounded post-black-button '+selectButtonColor()" *ngIf="buttons">
               <b class="post-f-xsmall">SIGN UP</b>
              </button>
            </li>
            <li class="list-inline-item pl-2" (click)="logout()"  *ngIf="this.auth.isLoggedIn()"  >
              <button [class]="'btn container-rounded post-black-button '+selectButtonColor()" *ngIf="buttons">
                <b class="post-f-xsmall">LOG OUT</b>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 mobile d-inline-flex align-items-bottom justify-content-between">
      <span class="post-title align-self-center" [routerLink]="['']" >Postmates</span>
      <button mat-icon-button color="'#000'" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</div>
