<div class="container-fluid mt-5 mb-5" *ngIf="category">
  <div class="row">
    <div class="col-12 p-0">
      <div class="col-12 p-0">
        <h4>{{category.title}}</h4>
      </div>
      <div class="col-12 border-bottom p-0">
        <span class="subtitle">{{category.title}} + subtitle</span>
      </div>
      <div class="col-12">
        <div class="row p-0 m-0">

          <div *ngFor="let _item of category.products" class="col-12 col-sm-6 p-1 pr-2">
            <app-item [categoryId]="category._id" [categoryTitle]="category.title" [itemId]="_item"></app-item>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
