  <div class="card border-0  mt-5" [routerLink]="['/product',sectionId,item.id]">
    <img
      src="https://raster-static.postmates.com/?url=https%3A%2F%2Fd1725r39asqzt3.cloudfront.net%2F6fc13aa8-cb4f-43fd-bdfc-18dc8a8f1da7%2Forig.jpg&quality=85&w=640&h=0&mode=auto&format=webp&v=4"
      class="card-img-top">
    <div class="d-inline-flex justify-content-between align-items-center  mt-2">
      <b>{{item.title}}</b>
      <div class="post-badge">
        <span class="post-f-xxsmall">{{item.badge}}</span>
      </div>
    </div>
    <div class="d-inline-flex align-items-center  mt-2">
      <span class="post-c-green">{{item.priceDelivery}} Delivery</span>
      <span class="post-c-gray">· {{item.delivery}}</span>
    </div>
  </div>
