<div class="container-fluid header2 bg-white m-0 pt-3 pb-3 border-bottom">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <div class="row">
        <div class="col-auto border-right pt-1 pb-1 align-self-center">
          <span class="selected-border">Delivery</span>
          <span class="text-dark"> or </span>
          <span>Pickup</span>
        </div>
        <div class="col-8 d-inline-flex align-self-top pt-1 pb-1">
          <span class="material-icons">location_on</span>
          <span class="align-middle mt-1">New York</span>
        </div>
      </div>
    </div>
  </div>
</div>
