<div class="container-fluid m-0 p-0">
  <app-header [buttons]="true" ></app-header>
  <div class="container-fluid header-spacer m-0 p-0 "></div>
  <div class="bg-image">
    <div class="row">
      <div class="col-10 offset-1">
        <h1 class="post-f-bold post-f-xxxlarge ml-5 mt-3">You Crave.</h1>
        <h1 class="post-f-bold post-f-xxxlarge ml-5 mt-2">We get it.</h1>
      </div>
    </div>
  </div>
  <app-type-bar></app-type-bar>
  <div class="container-fluid bg-white scrollable-content p-0 m-0">
    <div class="row p-0 m-0">
      <div class="col-12" *ngIf="sections">
        <app-shops-section  *ngFor="let section of sections" [section]="section"></app-shops-section>
      </div>
    </div>
  </div>
</div>
